name: Node API CI + Render Deploy

on:
  push:
    branches: [ main ]
    paths:
      - 'node-api/**'

jobs:
  ci-and-deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: node-api

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install deps
        run: npm install

      - name: Run tests
        run: npm test

      - name: Deploy to Render
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.RENDER_NODE_SERVICE_ID }}
          api-key: ${{ secrets.RENDER_API_KEY }}
          wait-for-success: true
